<center><h1>Module Mapping Helper (NUS SEP)</h1></center>
<hr>

<center><h2> Developed from scratch, an original idea by Ray Toh <br/> hongxian@comp.nus.edu.sg </h2></center>

### Happy New Year!
Correct as of 1/1/2020
<hr>
Last updated 11/05/2020
<hr>

## Problem Statement
Now, the current tool available to help decide on the best host university is not user-friendly, with poor/non-existent UI/UX which makes the task of study planning much daunting
<hr>

## My Thought Process
- We need an input of all modules we want to take by the time we graduate [total]
- We need an input of all modules we have already taken [taken]
- We need an input of all modules we want to clear during exchange [intended]
- We need an input of all modules we MUST clear during exchange [required]
- We need to sniff the list of all relevant universities and module mappings
- Usage of data cleaning, categorical analysis and string manipulation to group data into appropriate lines
- Filter of data according to [required]
- Possible use of groupby function and/or pivot tables
- Desired headings: Name of Host University (HU), Mappings available (based on intended modules) [intended], Number of intended mappings, Mappings available (all applicable) [total - taken], Number of applicable mappings.
- Sort in descending order, based on Number of applicable mappings [total - taken]

<hr>

## Importing of Relevant Libraries

In [1]:
import pandas as pd
import numpy as np
import csv
import re
import pprint

In [2]:
pd.set_option('mode.chained_assignment', None)

<br><br><br><br><br>

## Obtaining a data of all relevant modules
#### We're going to need a function which cleans the data input, because not everyone follows instructions
<hr>

In [3]:
# Changes all input to upper case, removes leading and trialing spaces, 
# splits all module codes into a list of module codes, then removes all white spaces
def clean(data):
    s0 = data.upper()
    s1 = s0.strip()
    s2 = s1.split(',')
    s3 = []
    for i in s2:
        s3.append(i.replace(' ', ''))
    return s3
# Removes all duplicates, removes all empty inputs 
def remove_anomaly(xs):
    ys = []
    for i in xs:
        if i not in ys:
            ys.append(i)
    return [j for j in ys if j != '']
print("For the inputs of modules, separate them with a comma ','")
print("if your module has different codes for different cohort")
print("it is best if you enter all (e.g cs1231s and cs1231,")
print("ger1000 and ger1000h).")
input ("reply yes if understood\n")
print('')

For the inputs of modules, separate them with a comma ','
if your module has different codes for different cohort
it is best if you enter all (e.g cs1231s and cs1231,
ger1000 and ger1000h).
reply yes if understood
yes

In [4]:
print ("List all modules in your degree requirement")
print ("+ UE/GE modules you want to take")
total = remove_anomaly(clean(input('')))
print('')
while True:
    print(total)
    print("^ These are what we have so far, ")
    print("rerun the cell if there are wrong entries, ")
    print("key in additional modules if you need to, ")
    ans = input('reply "done" to continue\n')
    print('')
    if ans.lower() == 'done':
        break
    else:
        total += clean(ans)
        total = remove_anomaly(total)
        if 'NONE' in total:
            total.remove('NONE')
print('Total Modules (Final): ', total)

List all modules in your degree requirement
+ UE/GE modules you want to take
re1701, re1702, re1703, re1704, re1705, re1706, re2801, re3802, re3803, re3804,re2701, re2702, re2703, re2704, re2705, re2706, re2707, re2708, re3701, re3702, re3703, re3704, re4701, re4702, es2007e, re4711, re4712, re3805, re3806, re3807, re3901, re4801, re4802, re4803, re4804, re4805, re4806, re4807, re4808, re1901, re3000, re3902, re3903

['RE1701', 'RE1702', 'RE1703', 'RE1704', 'RE1705', 'RE1706', 'RE2801', 'RE3802', 'RE3803', 'RE3804', 'RE2701', 'RE2702', 'RE2703', 'RE2704', 'RE2705', 'RE2706', 'RE2707', 'RE2708', 'RE3701', 'RE3702', 'RE3703', 'RE3704', 'RE4701', 'RE4702', 'ES2007E', 'RE4711', 'RE4712', 'RE3805', 'RE3806', 'RE3807', 'RE3901', 'RE4801', 'RE4802', 'RE4803', 'RE4804', 'RE4805', 'RE4806', 'RE4807', 'RE4808', 'RE1901', 'RE3000', 'RE3902', 'RE3903']
^ These are what we have so far,
rerun the cell if there are wrong entries,
key in additional modules if you need to,
reply "done" to continue
done

Total Modules (Final):  ['RE1701', 'RE1702', 'RE1703', 'RE1704', 'RE1705', 'RE1706', 'RE2801', 'RE3802', 'RE3803', 'RE3804', 'RE2701', 'RE2702', 'RE2703', 'RE2704', 'RE2705', 'RE2706', 'RE2707', 'RE2708', 'RE3701', 'RE3702', 'RE3703', 'RE3704', 'RE4701', 'RE4702', 'ES2007E', 'RE4711', 'RE4712', 'RE3805', 'RE3806', 'RE3807', 'RE3901', 'RE4801', 'RE4802', 'RE4803', 'RE4804', 'RE4805', 'RE4806', 'RE4807', 'RE4808', 'RE1901', 'RE3000', 'RE3902', 'RE3903']

In [5]:
print("What Modules have you taken so far?")
print('reply "none" otherwise')
taken = remove_anomaly(clean(input('')))
print('')
while True:
    print(taken)
    print("^ These are the modules you have taken so far, ")
    print("rerun the cell if there are wrong entries, ")
    print("key in additional modules if you need to,")
    ans = input('reply "done" to continue\n')
    print('')
    if ans.lower() == 'done':
        break
    else:
        taken += clean(ans)
        taken = remove_anomaly(taken)
        if 'NONE' in taken:
            taken.remove('NONE')
print('Modules Taken (Final): ', taken)

What Modules have you taken so far?
reply "none" otherwise
re1701, re1702, re1703, re1704, re1705, re1706

['RE1701', 'RE1702', 'RE1703', 'RE1704', 'RE1705', 'RE1706']
^ These are the modules you have taken so far,
rerun the cell if there are wrong entries,
key in additional modules if you need to,
reply "done" to continue
re3701, re3702, re3703

['RE1701', 'RE1702', 'RE1703', 'RE1704', 'RE1705', 'RE1706', 'RE3701', 'RE3702', 'RE3703']
^ These are the modules you have taken so far,
rerun the cell if there are wrong entries,
key in additional modules if you need to,
reply "done" to continue
done

Modules Taken (Final):  ['RE1701', 'RE1702', 'RE1703', 'RE1704', 'RE1705', 'RE1706', 'RE3701', 'RE3702', 'RE3703']

In [ ]:
print("What Modules do you intend to take during SEP? ")
print('reply "none" otherwise')
intended = remove_anomaly(clean(input('')))
print('')
while True:
    print(intended)
    print("^ These are what we have so far, ")
    print("rerun the cell if there are wrong entries, ")
    print("key in additional modules if you need to,")
    ans = input('reply "done" to continue\n')
    print('')
    if ans.lower() == 'done':
        break
    else:
        intended += clean(ans)
        intended = remove_anomaly(intended)
        if 'NONE' in intended:
            intended.remove('NONE')
print('Final Modules Intending to Take: ', intended)

What Modules do you intend to take during SEP?
reply "none" otherwise

In [7]:
print('What modules are a "must take" for you during SEP?')
print("/ do you intend to take for the whole of NUS?")
print('reply "none" otherwise')
required = remove_anomaly(clean(input('')))
print('')
while True:
    print(required)
    print("^ These are what we have so far, ")
    print("rerun the cell if there are wrong entries, ")
    print("key in additional modules if you need to,")
    ans = input('reply "done" to continue\n')
    print('')
    if ans.lower() == 'done':
        break
    else:
        required += clean(ans)
        required = remove_anomaly(required)
        if 'NONE' in required:
            required.remove('NONE')
print('Final Modules Intending to Take: ', required)

What modules are a "must take" for you during SEP?
/ do you intend to take for the whole of NUS?
reply "none" otherwise
none

['NONE']
^ These are what we have so far,
rerun the cell if there are wrong entries,
key in additional modules if you need to,
reply "done" to continue
done

Final Modules Intending to Take:  ['NONE']

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

#### We need to handle these data
- [taken], [intended], [required] needs to be a subset of [total]
- [taken] is mutually exclusive with [intended] and [required], [taken] takes precedence
- [required] is a subset of [intended]

In [8]:
final_taken = taken
final_required = []
final_intended = []
final_total = []
final_eval = []
data_inputs = [total, taken, intended, required]

final_inputs = [final_total, final_taken
                , final_intended, final_required, final_eval]

# Fill final_total
for each in data_inputs:
    for i in each:
        if i not in final_inputs[0]:
            final_inputs[0].append(i)

# mutually exclusive for taken and intended            
for i in data_inputs[2]:
    if i not in final_inputs[1]:
        final_inputs[2].append(i)

# mutually exclusive for taken and required
for i in data_inputs[3]:
    if i not in final_inputs[1]:
        final_inputs[3].append(i)
        
for i in final_inputs[3]:
    if i not in final_inputs[2]:
        final_inputs[2].append(i)
        
for i in final_inputs[0]:
    if i not in final_inputs[1]:
        final_inputs[4].append(i)
        
print(final_inputs)

[['RE1701', 'RE1702', 'RE1703', 'RE1704', 'RE1705', 'RE1706', 'RE2801', 'RE3802', 'RE3803', 'RE3804', 'RE2701', 'RE2702', 'RE2703', 'RE2704', 'RE2705', 'RE2706', 'RE2707', 'RE2708', 'RE3701', 'RE3702', 'RE3703', 'RE3704', 'RE4701', 'RE4702', 'ES2007E', 'RE4711', 'RE4712', 'RE3805', 'RE3806', 'RE3807', 'RE3901', 'RE4801', 'RE4802', 'RE4803', 'RE4804', 'RE4805', 'RE4806', 'RE4807', 'RE4808', 'RE1901', 'RE3000', 'RE3902', 'RE3903', 'NONE'], ['RE1701', 'RE1702', 'RE1703', 'RE1704', 'RE1705', 'RE1706', 'RE3701', 'RE3702', 'RE3703'], ['NONE'], ['NONE'], ['RE2801', 'RE3802', 'RE3803', 'RE3804', 'RE2701', 'RE2702', 'RE2703', 'RE2704', 'RE2705', 'RE2706', 'RE2707', 'RE2708', 'RE3704', 'RE4701', 'RE4702', 'ES2007E', 'RE4711', 'RE4712', 'RE3805', 'RE3806', 'RE3807', 'RE3901', 'RE4801', 'RE4802', 'RE4803', 'RE4804', 'RE4805', 'RE4806', 'RE4807', 'RE4808', 'RE1901', 'RE3000', 'RE3902', 'RE3903', 'NONE']]

<br><br><br><br><br><br><br>

## Obtaining a data of all relevant universities and module mappings
I am a computing student who intends to minor in Economics. This means that the faculties applicable to me are 'School of Computing', 'Faculty of Science' and 'Faculty of Arts and Social Science'.

I downloaded all resource from Education Resources (EduRec) as Excel files, and will instantiate a Pandas DataFrame from the external excel files.

In [9]:
# DukeNUS = 'https://tdpbna.by.files.1drv.com/y4m8zernIdhLlxlDaUJNZQ9wKMPqWUdDpdbjIqRbpOlUJtLtCacUM5wSgmuRgj5oVGuXvbB-2aCeMGQVBW4rZF69AWMvWTJ1YI_JOX4iTgJbhyn5Xj3NffZOPMmAnCh4cCOcr_mH-qzv2Vqdu8uE6_s-9QqBlB5ISBV_k-yoLLf5R6JPVnDmE2S-S9yevduuKxQsQnkxa-pw3a0W6bdVG-9Pd6IKT-RNBjfMNgo0Rwd6hQ/Duke-NUS.xls?download&psid=1' 
# FASS = 'https://tdpbna.by.files.1drv.com/y4mon4hU8JxN2NqYf1cTu1nKm9NYuh-xIuVqk8og0dpHdf6Sh6W5M-adrHova3xQvGh5HbC3FbmnSTlJ9d6Hds-EBkIU5h2A1Xdn-latNvW2P3n6xkzJbGOR4AzfY1ddmHt0xswfNJaGU0r1il-3r18rIvmaQmsdn5lgMqPLwdY2evz88GIKINskOZMhcvf6-WCftXdfYFImHI2ykArqDKFSMEL9wEXTy_r_dhG_w66Diw/FASS.xls?download&psid=1'
# FOD = 'https://tdpbna.by.files.1drv.com/y4m8QyvSVeuhdsBI40BXEGRkHmhTibRO3ln_JqSZgVV7XEDjLKS4UsBzk6U_XznU6SntCHa3DhUcrPdT3LJm_dHHUL9pLZSNp9gJwStL4uB5bopdqAPiU1hSixAxQxnBsouNnvlL4htnIJMCPsC0DvlSOXEdvShx-rgIyHVOKqvXRadIoKvD4UmZzu9tbOYwEjqwEO-B7kfZ7NvI9GJj4vm-RtGX3lNTNiIuyIWzFsqfYU/FOD.xls?download&psid=1'
# FOE = 'https://tdpbna.by.files.1drv.com/y4mfBjX2FVMJCU0tsZIWRFUg2Ov3psixBLQ2OzUaJI1XOtIVmiGKY1UWLiF-R3L4zX9DnlwvV0V1MNpXjPwiExVCyaCFpLCOSr9reRju-x-oxNHDKGwUNM8Ya8KC3uewZzlCH3wxYfHWdNZqvEeVgcUTcIUK8-E32GfGJ5l0kmjrYiffGDqBlUm0vltXlmBpPkXB6vEg5AKAksR9EGn8epF0MPY_xjilVo6moHZyh0juCA/FOE.xls?download&psid=1'
# FOL = 'https://tdpbna.by.files.1drv.com/y4mofbcFN9KnLFXFfv90C9TxpqM5df4_AuM7Q1NZQNv0vvL_iNe28GWW06A0WO_oa8wkavqJinM7HtRJVZz1QIyGtbHd3VQxJ7gwh00Iu8qEvk0KD26iv05SA63YJ2xxU9kK6MGEcMfxTqDOvR_gA0B1oV3hX_lb4B9Uw2EO9lkXXGX5CNKLUFDNPpn5A-yhCqyGlVlR7fZkB6gbhby7ltMuz0-C2gf4EpjwSeOMik2n6I/FOL.xls?download&psid=1'
# FOS = 'https://tdpbna.by.files.1drv.com/y4m1rArH9k3LLYyJKFbuMj9Xq1fFCBeLW6b-qDnhOXr-6FdPT7jolhIxs2vgh08Hn-3-lVuYr2qIpstWnxXVSQGYOssEsZlR7p8qsrP4EA80reja8FczHc3uc2xJ8ce84US35elz9cNOTiFuk8hTRdehZtghSLfmIrhm94C-fBPVeclnjLgsBhkbAC-odtrvgWKxv3tHc3uh-iFjuAqMgWQv0Mt9qR4HNB3-6beAsOf6C4/FOS.xls?download&psid=1'
# ISS = 'https://tdpbna.by.files.1drv.com/y4mp0o75fbGdquWIcjGJKPmknu0GvnjTZgzhEvLzmmywM8KJsQh6Lf9T5HGe-ikLDVtU765h50rzygcLeW0NEBK2BPuxMy78BJkjYqYp9rowBd3mAZs9m8NjK8VsOXKQpCn4fszCa0qtsjt0aTCv3fppR2XU2wwB7EQOwouE6-TXtU74x91llbrpntxj9DMdiQPKVcDNFuHNFBjxbVo5Jn_h4cL2KmiCoFz2R6xKphm4Gc/ISS.xls?download&psid=1'
# LGIAP = 'https://tdpbna.by.files.1drv.com/y4mPNwC_RLZji-qsv1_zXCKzK9uLhGeoC5f3BFFCKwQ6vqb_tYP28ZWfbZ7Nz1p-J9ONVATYNLVYjsUXXmls0xDQch6zEwZjsT7GbeAot0XimsLLtleHCZ9O_nw7FsRK0eHsAZpYD4ySvYsAvtb6w10hD-1l8i0obcrbCaC7NtXSC-rxskQ52iiUkKc1uw-R3ivxI8NpbpHjFyQrosgCsjs1Yop-yzgFvH_BWFENMzG9KA/LGIAP.xls?download&psid=1'
# LKYSPP = 'https://tdpbna.by.files.1drv.com/y4mA2RA4pLxv9uMo31L791hep8tdXbIZ_uL9GPAEmcfjHQ8cv92FarKnvPEZoJnI6LW_zLEHkYmR3mPaVT8_ibd5ggkoOyxwG4mlHEgOMXHd4QoGvFIm-FvnZLDdH9iRg05lct_A8Ut9-QUreTivciiOc_HWTg-CpSoProAOixtj-eNOlz1lIjFljdK22cDwBxJPO0ss5ZMylpJKr6ry7Yp27UJjSr3zavo17kyY-gukUc/LKYSPP.xls?download&psid=1'
# MBI = 'https://tdpbna.by.files.1drv.com/y4mkq6_wqv928OCsAOajdt1sUr61xbhnBBaOlk8Xy_22I1M38kwEiSc9-UB8YjqLDX35HLLegGu8niPWc1F_THt5PJnTaz9IdpEYiyeiHeBWRl2el-F09g6p2-TDiQzVpKP55G-cfwAn5-0PljZ73p47qPc4qaQ8pIfQwWHPffSd50F7dNLynC3mzyHT9TYxyVXWlVjTLAJkpPOJWUbB98uLYEUX0Ys64CisJqhQi2RGbU/MBI.xls?download&psid=1'
# MDP = 'https://tdpbna.by.files.1drv.com/y4mlutuO8Oc0H36GhLZQO997yCjCEYDjjXLJXcPRYYiakUTsk0kiNkeWoI2ctTqz6K3htNeedRXrNDqGge75hXa21XDMSSjnC-9LY-M570WSFVfJJ0VXRaGHiFaG0lY6h8E8EoDSxPdh2VmvDDY-xbp7Etb0rZFn4BPdKTE5fz0l364i0QudhEdlr53L5HeIEaCd22UN9q2UDC6oiHueoKJhtD1fGVrKMBiVpz0p_Pt8q8/MDP.xls?download&psid=1'
# NUSGSISE = 'https://tdpbna.by.files.1drv.com/y4my8T3NxmVAxLhvWmPNbJ8w_CZiYedATa3dGrp611HK_1lMkzbTGd6PaxstrE6pobJJGfMyIeXVXloN_a5hbIzIF0E9PyWxH_hjNsW08JNFbgDD6fhN3LnJIGLIiFoeNZ-8AD9xiEGgBoS8cxvCkOuwLa_BWMgEtyPaDiTLAltXSkCXV51Whqwwvc5xaMEtKggRGxD7XeGDNLW_JBEg20V9v7S2oaUAQ2NbL_ld56C8v4/NUS%20GSISE.xls?download&psid=1'
# NUS = 'https://tdpbna.by.files.1drv.com/y4m_Kg85PL8bNwDV0NmNQZyTDyEktCeKM7YQgnDtgRXXDmEV0IjYu2c4BhHaPxD2TgcKIx4-8p3yEMyqcBHTI9_-gCR5IL6mB108EBfCmdcLLpr_pLwgKemacW0u22vTmibajZRMGDpW0ABdcXszveGCZKVPVL36erGtxIu2ZjJjUnoPE8IuHtpyNs3o40YSVgh_Xnx79hxV2t5w9I-NDARF1NWSQge6UO4VpWeJmDqJSM/NUS.xls?download&psid=1'
# RC = 'https://tdpbna.by.files.1drv.com/y4mE_9xhofkGaMraEI14CUWJMmMSQVPvck2mareJHTkK5OowjAPZIu6wx6rkt6lMBEwp4T20AwQZ4S_M2gEEMN1uHrPbk6hNrCdYvr5MFc6WmP53NbAZCYfobGeUORHp1i5ZJm-OEB2Ab7zMy9ZRCdo11wW31hfBQMJfhlvOoRYvyYTsbzB6TC3s_yud9VOA5jwLPQUFuoxWnA-OPjezWjRWOjjaNpjujjobdILo8gBrNg/RC.xls?download&psid=1'
# RMI = 'https://tdpbna.by.files.1drv.com/y4mgZiCcq5pNWS863VztafkD6d_EC6j_u8D8ZnPzQa3DtJS3ASPJLisRowfbjvg-vXp_nUQ0k-UXLZh2LXwXbG2ZcGnCl10yns1Ru10TPItjqFESrqYBmh1yQaRcDQnjJ_PQIA3jAv7bbP_dcBhQDCFroiEHt9VH-8ocVVSZErFKB-SrHIuHakbw8QTCYjTl9uDGzEdjlL71jFcQEoGo_wjj8d9jOX0lzThxWVUJ3c4ca4/RMI.xls?download&psid=1'
# SCLE = 'https://tdpbna.by.files.1drv.com/y4my_tLuAqUN6C3bgqTWWt5KSjh1bdYZjUw87IAyMK2MgfhRINEwcFzHliDEEx2jiW_oDOs3TByYn0Hb6W_ns6p3qN4AHLvq-zQDoMSTfCMC_Z_PgodGQI2IQCSJuBkE68kWf2nI2_EA5yWWMBuHTCu7QDCeX8d47qVaMwQT9OfDgVQvEyhwCTxe_PkakfMHyS5hcXLryBysqi0AXaCY8FBwZFIZ8OkuO37I6zG3Kw1Knw/SCLE.xls?download&psid=1'
# SDE = 'https://tdpbna.by.files.1drv.com/y4mfTtZC2s01HEJjj7F4f4rJ45pltR8Dcp3oylQ_XlxEfkbGtpcpsPl0gaYOP142gO5BHzi9S_4bGlw9p9pR_qhplrUbkWUum0g-Mc4INYfT2qAHBv0c9mDV-5cGlLsyn5tfGEl1nAGXI51_ihc4ATaTPhpp1kEKTe8KrOYO6OwwiIXtMs3JFzJd-JUrMEVLAesjjXkG0i01o8xJrAiEDooEyuKVS2dBU1AvR10v2buD8g/SDE.xls?download&psid=1'
# SGMIT = 'https://tdpbna.by.files.1drv.com/y4mlwZDcgJFZNPTLbKnb-xL4dwsVvdqaq2yGnlKPrDqZY3UV4vCG-5FmK3U4nQxA_LKwk2rIZXY1f-qVIgeT2kjlGa7gfrkd1AySilc_djaRRONujhq6vJcxQxMYobmPF0HDIekIVxyB1tn8_iSxDWO-xez8LMiI12lSvdVu92Zhapry0GGmCPvCRndxlk9iQG757_2JUkK8S30eoyA68ZGz3SfS5UyDUx6QpBbdhv9tNw/SG-MIT.xls?download&psid=1'
# SOC = 'https://tdpbna.by.files.1drv.com/y4mkcm8ykWc84OVxYA_coCSCxRV1WFrv8lleMQaw92EkvZcVcpIgfNr3PvjT4hTXI4pBddnKhNirptK57pB5JoZg0wp3PZgUoppz8x98cqWM9uLQ5jsBAdAOljxidMNapLF-Ci3SPoNHXF5vysd8qrnrU6HO8Qw_Cwm5yWalThF4tALzhBSD7dEZGDsZN4J3NFyOdWeRv-uGnkuvKeVvWwkdf35i_XWlR5HBW93pKNVxP0/SOC.xls?download&psid=1'
# SSH = 'https://tdpbna.by.files.1drv.com/y4mcaqL5lfxlvdyev1g2neMfYYpPfmPl2UBtTMoOidWC1ppnuFwPXCwMyGGYXZGZWk0vIjz_-m-r2Kd9i4vfRxCqKmY3SidFRZe7r34uksCC-hRAPXVbCJM5rsK85IQtEIQPhVoborjDrsUeP7PYCX35dVUwtEqPKWwWULdmq3wcHnGmXnlfDaI45W4Uz3Fq63OFaAwgKdakN33EhugIY3Y7OFU_j6knsYvo-uUNKtc2LY/SSH.xls?download&psid=1'
# TDSI = 'https://tdpbna.by.files.1drv.com/y4mOv9gySWTgbkOu5jAY-kq14jqqn1q_Xw-npSdAsYcUomf83x8VcUVk_ESVvjtoIpkip9YTqU1KiD7ZblSgxH2RnHCYTK16zUiYFi4romMTepNZ9vR9q-LwWmb9WI3O6SscG0dXAOBQ0YEuWNKIjJXsvALF6Vc-_NUfVuMbsG05IBF6S6tgQWQ2L1gMM9FNVqgWqvCN9z19ZRZgA4cgDhEC3gCfjl13kqAobgleDoes1o/TDSI.xls?download&psid=1'
# USP = 'https://tdpbna.by.files.1drv.com/y4mg7gXZCZPnAyhN3O4-i1WfIIiLeVe5MlWenuyplc4isy_1yqxgAGfM44wbM-7nvpXdPCk2ZENHDNzwuSwhuKPEhgSIHWgimAZfrgU8FEBICHxxoRDCgq4S2j9efIyd8IxzSwkg4Mmaw4Y2f8LynqXAt4acJVIQzL46U02GdDZLuQChS8CsFluGG8H3oK81k-Q0GS1kgV5C66NaBlSxC2nSf3J4rDMgay_ZvgIB32I1BU/USP.xls?download&psid=1'
# YaleNUS = 'https://tdpbna.by.files.1drv.com/y4mYyFMGtE4LJ2dhZGSGZB67N-CviFInKOd8swE6Tq-5ykNRjhIbCdGuzRhIijlq_A-SYk4mkR13-1iKFNFb0NcfpLnuoP3roSRElwgb_Wpf27bwFIdZa8oxmlTq_XQuK9I8jHX6jpOdDhRIK2tHbYhoor-KBu6dNnAK68BJ6BlDaKcs1lBpi4d-G1UbrIHYQcEBbCGC-wAwkx2lWDygpgJsfd6TeqJqcwwB8gx53l5xDw/Yale-NUS.xls?download&psid=1'
# YLLSM = 'https://tdpbna.by.files.1drv.com/y4meNFnOW_beNHy2QbPs6l1CbRGbvQpWIoCJ0OjnZ4fJlATFblvQ4xYjk0YACwreDvyDIAq-oNxlgGmtsumvaTN4g347osXVFYdZ9zXJTvm_RwVFXyj9AeiRWjL4tIJKaKKZQANn_SOopZ2W5lrg00bpjSbDPOAeXUkqYrLBtI_-EiGNaOuJKyHoC0tXBRT8Jf_5ie9GC7PE24JqcOO1MEwauzL0ATimdyV1KPgbuMlu2M/YLLSM.xls?download&psid=1'
# YSTCM = 'https://tdpbna.by.files.1drv.com/y4m9rnujIgV3bAaPDYbyXoTdL2L2aM9M6ykbCgpUGw54M4I-JBjnxxBdv1AxRYuTkIcAUfu5Dq3IiCLnPSIMxd--Q6HdteQ_Uav95pSbC2DRokm4MOBvF-GGkqh5R84_jpTA6ccn_DZAyv7ltTyFLt6BAgY21Kl02CrIdJWvjrd8ixog5Cz2rN5kRUI5rZEZIGAt2x594v3U_lvl-u54TyDJSYn5YMC-ZB1HCF6rW7GRK0/YSTCM.xls?download&psid=1'

# xs = [DukeNUS, FASS, FOD, FOE, FOL, FOS, ISS, LGIAP, LKYSPP, MBI, MDP, NUSGSISE, NUS,
#      RC, RMI, SCLE, SDE, SGMIT, SOC, SSH, TDSI, USP, YaleNUS, YLLSM, YSTCM]

xs = ['Duke-NUS.xls', 'FASS.xls', 'FOD.xls', 'FOE.xls', 'FOL.xls', 
      'FOS.xls', 'ISS.xls', 'LGIAP.xls', 'LKYSPP.xls', 'MBI.xls', 
      'MDP.xls', 'NUS GSISE.xls', 'NUS.xls', 'RC.xls', 'RMI.xls', 
      'SCLE.xls', 'SDE.xls', 'SG-MIT.xls', 'SOC.xls', 'SSH.xls', 
      'TDSI.xls', 'USP.xls', 'Yale-NUS.xls', 'YLLSM.xls', 'YSTCM.xls']

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

## Merging of all dataframes

In [10]:
df_merged = pd.read_excel(xs[0])
    # We instantiate a copy of the dataframe to append to,
    # Duplicates will be taken care of later
for i in xs:
    df_merged = df_merged.append(pd.read_excel(i))
df_merged.reset_index(drop=True, inplace=True)
df_merged.head()

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
0,Faculty of Arts & Social Sci,The Hong Kong Polytechnic University,CBS241,Elementary Chinese II (for Non-Chinese speakin...,1.0,NaN,NaN,NaN,LAC2731,Department Exchange Module,3,NaN,NaN,NaN,Y
1,Faculty of Arts & Social Sci,The Hong Kong Polytechnic University,CC2C08,Mutual Impressions of China and the West,3.0,NaN,NaN,NaN,PS2238,Int'l Politics of NE Asia,4,NaN,NaN,NaN,Y
2,Faculty of Arts & Social Sci,Hong Kong University of Science & Technology,LANG1120,Chinese for Non-Chinese Language Background St...,1.0,NaN,NaN,NaN,LAC1731,Department exchange module,3,NaN,NaN,NaN,Y
3,Faculty of Arts & Social Sci,City University of Hong Kong,AIS3126,International Political Economy,3.0,NaN,NaN,NaN,PS3238,Int'l Political Economy,4,NaN,NaN,NaN,Y
4,Faculty of Arts & Social Sci,City University of Hong Kong,GE2210,China: A Socio-Political Transformation,3.0,NaN,NaN,NaN,PS2248,Chinese Politics,4,NaN,NaN,NaN,Y

## Dropping Duplicates

In [11]:
df_merged.drop_duplicates(inplace = True)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5981 entries, 0 to 6255
Data columns (total 15 columns):
Faculty               5981 non-null object
Partner University    5964 non-null object
PU Module 1           5980 non-null object
PU Module 1 Title     5981 non-null object
PU Mod1 Credits       5978 non-null float64
PU Module 2           8 non-null object
PU Module 2 Title     8 non-null object
PU Mod2 Credits       8 non-null float64
NUS Module 1          5980 non-null object
NUS Module 1 Title    5852 non-null object
NUS Mod1 Credits      5980 non-null object
NUS Module 2          8 non-null object
NUS Module 2 Title    8 non-null object
NUS Mod2 Credits      8 non-null float64
Pre Approved?         5525 non-null object
dtypes: float64(3), object(12)
memory usage: 747.6+ KB

<br>

## Now, we will analyse empty cells and fill/drop accordingly

#### There are selected empty cells under 'Partner University', 'PU Module 1', 'NUS Module 1', 'NUS Module 1 Title',  'Pre Approved?'. The remaining are unimportant
- Under 'Pre Approved?' there exist 3 possible values ['Y', 'N', nan] and shown below, <br/> and is a binary option ('Y' or 'N') all null objects will be assumed to be 'N'
- Need for further analysis on empty cells under 'Partner University', 'PU Module 1', 'NUS Module 1'
- 'NUS Module 1 Title' is not really important since we are only into module code, <br/> but will do further analysis just to confirm

##### Filling 'Pre Approved'

In [12]:
df_merged['Pre Approved?'].unique()

array(['Y', 'N', nan], dtype=object)

In [13]:
df_merged['Pre Approved?'].fillna('N', inplace=True)
df_merged['Pre Approved?'].unique()

array(['Y', 'N'], dtype=object)

##### Looking at null 'Partner University'
To do this, we instantiate a copy of dataframes, and filter rows with null in the 'Partner University' series

In [14]:
df_merged['Partner University'].describe()

count                         5964
unique                         290
top       University of California
freq                           248
Name: Partner University, dtype: object

In [15]:
df_copy = df_merged.copy()
df_copy[df_copy['Partner University'].isnull()].head() # Shows only first 5 entries
#     Above is essentially the same as doing
#         condition = df_copy['Partner University'].isnull()
#         df_copy[condition]

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
638,Faculty of Arts & Social Sci,NaN,15105,Populist Parties and Anti-Establishment Politi...,10.0,NaN,NaN,NaN,PS4202,Political Parties & Elections,5,NaN,NaN,NaN,Y
644,Faculty of Arts & Social Sci,NaN,GSI15072,Personal representation in parliamentary syste...,10.0,NaN,NaN,NaN,PS4711,Department exchange module,5,NaN,NaN,NaN,Y
645,Faculty of Arts & Social Sci,NaN,GSI15103,Europeanization - Transforming National Politi...,10.0,NaN,NaN,NaN,PS4741,Department Exchange Module,5,NaN,NaN,NaN,Y
1987,Faculty of Engineering,NaN,2595468,Service Innovation,5.0,NaN,NaN,NaN,IE4987,Exchange Elective,3,NaN,NaN,NaN,Y
1988,Faculty of Engineering,NaN,2511308,Service Oriented Computing,5.0,NaN,NaN,NaN,IE4013,Department Exchange Module,3,NaN,NaN,NaN,Y

However, we need a bit of context, so we can look at other modules around it

In [16]:
df_merged.iloc[list(range(637,641))]

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
637,Faculty of Arts & Social Sci,Ludwig-Maximilians-University of Munich,FASS-CLS-ZXY1012,German Language Course A1/A2,1.0,NaN,NaN,NaN,LAG1201,German 1,4,NaN,NaN,NaN,Y
638,Faculty of Arts & Social Sci,NaN,15105,Populist Parties and Anti-Establishment Politi...,10.0,NaN,NaN,NaN,PS4202,Political Parties & Elections,5,NaN,NaN,NaN,Y
639,Faculty of Arts & Social Sci,"University of Applied Sciences, Bremen",15112,Analysing Policy and Institutional Change,10.0,NaN,NaN,NaN,PS4210,Public Policy Analysis,5,NaN,NaN,NaN,Y
640,Faculty of Arts & Social Sci,"Justus Liebig University, Giessen",EU060,Next Europe: In search for its narrative,6.0,NaN,NaN,NaN,PS3880H,The Politics of European Integ,4,NaN,NaN,NaN,Y

In [17]:
df_merged.iloc[list(range(643,647))]

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
643,Faculty of Arts & Social Sci,Athens University of Economics & Business,GSI15014,The Israeli Political System in Comparative Pe...,10.0,NaN,NaN,NaN,PS3741,Department Exchange Module,4,NaN,NaN,NaN,Y
644,Faculty of Arts & Social Sci,NaN,GSI15072,Personal representation in parliamentary syste...,10.0,NaN,NaN,NaN,PS4711,Department exchange module,5,NaN,NaN,NaN,Y
645,Faculty of Arts & Social Sci,NaN,GSI15103,Europeanization - Transforming National Politi...,10.0,NaN,NaN,NaN,PS4741,Department Exchange Module,5,NaN,NaN,NaN,Y
646,Faculty of Arts & Social Sci,Georgetown University Law Center,GSI15108,International Institutions (in English) - Sing...,10.0,NaN,NaN,NaN,PS4711,Department exchange module,5,NaN,NaN,NaN,Y

In [18]:
df_merged.iloc[list(range(4274,4279))]

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
4274,Faculty of Science,Humboldt-Universitaet zu Berlin,3312040,Readings in Sustainability Science,7.0,NaN,NaN,NaN,LSM2991,Exchange Enrichment Level 2000,4,NaN,NaN,NaN,Y
4275,Faculty of Science,NaN,T-WIWI-103,Nonlinear Optimization 1 and 2,9.0,NaN,NaN,NaN,MA3236,Non-Linear Programming,4,NaN,NaN,NaN,Y
4276,Faculty of Science,University of Pretoria,WTW389,Geometry 389,18.0,NaN,NaN,NaN,MA2219,Introduction to Geometry,4,NaN,NaN,NaN,Y
4277,Faculty of Science,University of Pretoria,WTW320,Complex Analysis 320,18.0,NaN,NaN,NaN,MA3111,Complex Analysis I,4,NaN,NaN,NaN,Y
4278,Faculty of Science,University College Dublin,BOTN30050,Diversity of Plant Form & Function,5.0,NaN,NaN,NaN,LSM3258,Comparative Botany,4,NaN,NaN,NaN,Y

<br><br><br><br><br><br>

There are limitations in generalisation, since there are no notable trend. Furthermore, these modules are all dummy modules with the exception of MA3236. Hence we can only drop them, but fill MA3236 with 'unknown'

In [19]:
df_merged['Partner University'].iloc[4275] = 'Unknown'
df_copy = df_merged.copy()
df_merged = df_copy[~df_copy['Partner University'].isnull()]
df_merged.reset_index(drop = True, inplace = True)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5965 entries, 0 to 5964
Data columns (total 15 columns):
Faculty               5965 non-null object
Partner University    5965 non-null object
PU Module 1           5964 non-null object
PU Module 1 Title     5965 non-null object
PU Mod1 Credits       5962 non-null float64
PU Module 2           8 non-null object
PU Module 2 Title     8 non-null object
PU Mod2 Credits       8 non-null float64
NUS Module 1          5964 non-null object
NUS Module 1 Title    5836 non-null object
NUS Mod1 Credits      5964 non-null object
NUS Module 2          8 non-null object
NUS Module 2 Title    8 non-null object
NUS Mod2 Credits      8 non-null float64
Pre Approved?         5965 non-null object
dtypes: float64(3), object(12)
memory usage: 699.1+ KB

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

##### Looking at null 'PU Module 1'

In [20]:
df_copy = df_merged.copy()
df_copy[df_copy['PU Module 1'].isnull()]

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
1435,Faculty of Engineering,Hamburg University of Technology (TUHH),NaN,Technology Entrepreneurship,6.0,NaN,NaN,NaN,MT5920,Enterprise Development,4,NaN,NaN,NaN,Y

Similarly, this is a legitimate course, so we fill it with 'Unknown'

In [21]:
df_merged['PU Module 1'].iloc[1435] = 'Unknown'
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5965 entries, 0 to 5964
Data columns (total 15 columns):
Faculty               5965 non-null object
Partner University    5965 non-null object
PU Module 1           5965 non-null object
PU Module 1 Title     5965 non-null object
PU Mod1 Credits       5962 non-null float64
PU Module 2           8 non-null object
PU Module 2 Title     8 non-null object
PU Mod2 Credits       8 non-null float64
NUS Module 1          5964 non-null object
NUS Module 1 Title    5836 non-null object
NUS Mod1 Credits      5964 non-null object
NUS Module 2          8 non-null object
NUS Module 2 Title    8 non-null object
NUS Mod2 Credits      8 non-null float64
Pre Approved?         5965 non-null object
dtypes: float64(3), object(12)
memory usage: 699.1+ KB

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

##### Looking at null 'NUS Module 1'

In [22]:
df_copy = df_merged.copy()
df_copy[df_copy['NUS Module 1'].isnull()]

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
1618,Faculty of Engineering,Purdue University,IE57700,Human Factors in Engineering,3.0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,N

<br>
This seems very ambiguous, with no clue to what NUS module it maps to, this line will be dropped

In [23]:
df_copy = df_merged.copy()
df_merged = df_copy[~df_copy['NUS Module 1'].isnull()]
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5964 entries, 0 to 5964
Data columns (total 15 columns):
Faculty               5964 non-null object
Partner University    5964 non-null object
PU Module 1           5964 non-null object
PU Module 1 Title     5964 non-null object
PU Mod1 Credits       5961 non-null float64
PU Module 2           8 non-null object
PU Module 2 Title     8 non-null object
PU Mod2 Credits       8 non-null float64
NUS Module 1          5964 non-null object
NUS Module 1 Title    5836 non-null object
NUS Mod1 Credits      5963 non-null object
NUS Module 2          8 non-null object
NUS Module 2 Title    8 non-null object
NUS Mod2 Credits      8 non-null float64
Pre Approved?         5964 non-null object
dtypes: float64(3), object(12)
memory usage: 745.5+ KB

<br><br><br><br><br><br><br><br><br><br><br><br><br>

##### Phew, now the 'NUS Module 1 Title'

In [ ]:
df_copy = df_merged.copy()
df_copy[df_copy['NUS Module 1 Title'].isnull()]

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
15,Faculty of Arts & Social Sci,The University of Hong Kong,PHIL2435,Traditional Chinese Political Thought,6.0,NaN,NaN,NaN,PS2253,NaN,4,NaN,NaN,NaN,Y
62,Faculty of Arts & Social Sci,Waseda University,INTA361L,Social and International Relations of Japan,4.0,NaN,NaN,NaN,PS2706,NaN,4,NaN,NaN,NaN,Y
87,Faculty of Arts & Social Sci,The University of Tokyo,LAW0116989,"Boom, Bust, and Beyond: the Political Economy ...",2.0,NaN,NaN,NaN,PS3261,NaN,4,NaN,NaN,NaN,Y
100,Faculty of Arts & Social Sci,Erasmus University,FSWSB1070,"Economics, Welfare and Distribution",4.0,NaN,NaN,NaN,PS3261,NaN,4,NaN,NaN,NaN,Y
103,Faculty of Arts & Social Sci,University of Amsterdam,PU6012B0327Y,Political Economy: Dialectical Methodology,6.0,NaN,NaN,NaN,PS3261,NaN,4,NaN,NaN,NaN,Y
111,Faculty of Arts & Social Sci,Singapore Management University,POSC310,"Development, Underdevelopment and Poverty",1.0,NaN,NaN,NaN,PS4222,NaN,4,NaN,NaN,NaN,Y
135,Faculty of Arts & Social Sci,Korea University,JMCO436,Mass Media and Popular Culture in Korea,3.0,NaN,NaN,NaN,Gl4752,NaN,5,NaN,NaN,NaN,Y
150,Faculty of Arts & Social Sci,Korea University,DISS357,INTERNATIONAL FINANCIAL MARKETS AND INSTITUTIONS,3.0,NaN,NaN,NaN,PS3261,NaN,4,NaN,NaN,NaN,Y
159,Faculty of Arts & Social Sci,Korea University,POLI243,International Law: International politics of n...,3.0,NaN,NaN,NaN,PS4207,NaN,5,NaN,NaN,NaN,Y
187,Faculty of Arts & Social Sci,Hankuk University of Foreign Studies,K01252101,International Public Law,3.0,NaN,NaN,NaN,PS4207,NaN,5,NaN,NaN,NaN,Y
225,Faculty of Arts & Social Sci,National Chiao Tung University,GE151300,International Law Stories,2.0,NaN,NaN,NaN,PS4207,NaN,5,NaN,NaN,NaN,Y
237,Faculty of Arts & Social Sci,National Chiao Tung University,10610GE151300,International Law Stories,2.0,NaN,NaN,NaN,PS4207,NaN,5,NaN,NaN,NaN,Y
245,Faculty of Arts & Social Sci,National Cheng Kung University,D4104,ENVIRONMENTAL POLICY,2.0,NaN,NaN,NaN,PS4227,NaN,5,NaN,NaN,NaN,Y
246,Faculty of Arts & Social Sci,National Cheng Kung University,D4103,POLITICAL ECONOMY,3.0,NaN,NaN,NaN,PS3261,NaN,4,NaN,NaN,NaN,Y
263,Faculty of Arts & Social Sci,The University of New South Wales,ARTS2851,Democracy and Authoritarianism in the 21st cen...,6.0,NaN,NaN,NaN,PS4881A,NaN,5,NaN,NaN,NaN,Y
266,Faculty of Arts & Social Sci,The University of New South Wales,ARTS2812,The Politics of International Organisation,6.0,NaN,NaN,NaN,PS4207,NaN,5,NaN,NaN,NaN,Y
267,Faculty of Arts & Social Sci,Monash University,ATS3697,Gender and International Relations,6.0,NaN,NaN,NaN,PS3777,NaN,4,NaN,NaN,NaN,Y
268,Faculty of Arts & Social Sci,Monash University,ATS3399,The Politics of Identity,6.0,NaN,NaN,NaN,PS3766,NaN,4,NaN,NaN,NaN,Y
299,Faculty of Arts & Social Sci,McGill University,POLI318,Comparative Local Government,3.0,NaN,NaN,NaN,PS3261,NaN,4,NaN,NaN,NaN,Y
309,Faculty of Arts & Social Sci,McGill University,POLI423,Politics of Ethno-Nationalism,3.0,NaN,NaN,NaN,PS3751,NaN,4,NaN,NaN,NaN,Y
313,Faculty of Arts & Social Sci,McGill University,POLI321,Issues in Canadian Public Policy,3.0,NaN,NaN,NaN,PS3799,NaN,4,NaN,NaN,NaN,Y
314,Faculty of Arts & Social Sci,McGill University,POLI362,Political Theory and IR,3.0,NaN,NaN,NaN,PS3788,NaN,4,NaN,NaN,NaN,Y
319,Faculty of Arts & Social Sci,University of Calgary,POLI471,Africa: Contemporary Political Problems,3.0,NaN,NaN,NaN,PS3787,NaN,4,NaN,NaN,NaN,Y
345,Faculty of Arts & Social Sci,Shanghai Jiao Tong University,PU436,Government Regulation,2.0,NaN,NaN,NaN,PS2715,NaN,4,NaN,NaN,NaN,Y
398,Faculty of Arts & Social Sci,University of Mannheim,VL,Ausgewahlte Themen der Vergleichenden Regierun...,7.0,NaN,NaN,NaN,PS3264,NaN,4,NaN,NaN,NaN,Y
400,Faculty of Arts & Social Sci,University of Mannheim,PS,Einfuhrung in die Vergleichende Regierungslehr...,5.0,NaN,NaN,NaN,PS3264,NaN,4,NaN,NaN,NaN,Y
402,Faculty of Arts & Social Sci,University of Mannheim,UM002,"What works why, how and when? Assessing the Ef...",7.0,NaN,NaN,NaN,PS4756,NaN,5,NaN,NaN,NaN,Y
403,Faculty of Arts & Social Sci,University of Mannheim,UM003,Political Satire and Democratic Politics,7.0,NaN,NaN,NaN,PS4758,NaN,5,NaN,NaN,NaN,Y
404,Faculty of Arts & Social Sci,University of Mannheim,UM004,"Public Opinion, Political Participation, and t...",7.0,NaN,NaN,NaN,PS4759,NaN,5,NaN,NaN,NaN,Y
407,Faculty of Arts & Social Sci,University of Mannheim,UM007,International Development and Democracy,5.0,NaN,NaN,NaN,P3263,NaN,4,NaN,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,School of Design & Environment,Yonsei University,HID4107,Control System for Built Environment,3.0,NaN,NaN,NaN,PF2104,NaN,4,NaN,NaN,NaN,N
4588,School of Design & Environment,Seoul National University,406.435A,System Architecture,3.0,NaN,NaN,NaN,PF2201,NaN,4,NaN,NaN,NaN,N
4618,School of Design & Environment,The University of British Columbia,CIVL200,Engineering and Sustainable Development,3.0,NaN,NaN,NaN,PF2401,NaN,4,NaN,NaN,NaN,N
4619,School of Design & Environment,The University of British Columbia,COMM 370,Corporate Finance,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4621,School of Design & Environment,Tongji University,1079701,International Business Communication,2.0,NaN,NaN,NaN,PF2106,NaN,4,NaN,NaN,NaN,N
4631,School of Design & Environment,Tongji University,1029601,Project Finacing,2.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4645,School of Design & Environment,Tsinghua University,30050132,Building Service Equipment,2.0,NaN,NaN,NaN,PF2104,NaN,4,NaN,NaN,NaN,N
4654,School of Design & Environment,Tsinghua University,20510032,Engineering Economics,2.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4659,School of Design & Environment,Tsinghua University,4091022,Sustainable Urbanization in an International C...,2.0,NaN,NaN,NaN,PF2401,NaN,4,NaN,NaN,NaN,N
4666,School of Design & Environment,Shanghai Jiao Tong University,251.301001,Financial Management (Restricted Module),3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4668,School of Design & Environment,Shanghai Jiao Tong University,EC309,Engineering Economics,2.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4670,School of Design & Environment,Shanghai Jiao Tong University,251.301,Financial Management,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4678,School of Design & Environment,Fudan University,MANA110027.01,Project Evaluation and Management,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4680,School of Design & Environment,Fudan University,PHPM110050.01,"Air Pollution, Climate Change and Health",2.0,NaN,NaN,NaN,PF2401,NaN,4,NaN,NaN,NaN,N
4688,School of Design & Environment,"Ecole Speciale D'Architecture, Paris",SDE-ARC-ZXY1006,Modernism,3.5,SDE-ARC-ZXY2001,Architectural Limits,3.5,UD5628,NaN,4,NaN,NaN,NaN,N
4715,School of Design & Environment,University of Leeds,CIVE3815,Building Physics2: Services Design,10.0,NaN,NaN,NaN,PF4103,NaN,4,NaN,NaN,NaN,N
4720,School of Design & Environment,University of Leeds,CIVE3921,Construction Economics,10.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4723,School of Design & Environment,University of Leeds,LUBS2875,Research Methods for International Business,10.0,NaN,NaN,NaN,PF2105,NaN,4,NaN,NaN,NaN,N
4724,School of Design & Environment,University of Leeds,LUBS2775,Research Methods,10.0,NaN,NaN,NaN,PF2105,NaN,4,NaN,NaN,NaN,N
4725,School of Design & Environment,University of Leeds,CIVE2815,Building Physics: Fundamental Principles,10.0,NaN,NaN,NaN,PF4103,NaN,4,NaN,NaN,NaN,N
4735,School of Design & Environment,"University of Washington, Seattle",CM416,Residential Project Development,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4748,School of Design & Environment,Rice University,CEVE322,Engineering Economics,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4749,School of Design & Environment,Rice University,CE332,Professional Econ and Construction,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4758,School of Design & Environment,University of Florida,BCN4753,Construction Finance,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4766,School of Design & Environment,Case Western Reserve University,EMAE260,Design and Manufacturing 1,3.0,NaN,NaN,NaN,PF2201,NaN,4,NaN,NaN,NaN,N
4767,School of Design & Environment,Case Western Reserve University,BAFI355,Corporate Finance,3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
4768,School of Design & Environment,Case Western Reserve University,BAFI357-100F,"Financial Modeling, Analysis and Decision Making",3.0,NaN,NaN,NaN,PF2204,NaN,4,NaN,NaN,NaN,N
5317,School of Computing,Dalhousie University,CSCI2112,Discrete Structures 1,3.0,NaN,NaN,NaN,Cs1231,NaN,4,NaN,NaN,NaN,Y
5391,School of Computing,Peking University,334170,Policy Issues for Security and Privacy in the ...,3.0,NaN,NaN,NaN,IS4232,NaN,4,NaN,NaN,NaN,N
5491,School of Computing,King's College London,ITR5CCS2,Introduction to Robotics,15.0,NaN,NaN,NaN,CS3238,NaN,4,NaN,NaN,NaN,N

After further investigation (by random sampling), I realised that the module titles are empty because they are dummy modules. But not necessary to remove these mappings

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

### Now we only keep columns that are necessary, and change the column headings for better communication via data visualisations
- Partner University
- PU Module 1
- NUS Module 1

In [ ]:
df_merged.columns

Index(['Faculty', 'Partner University', 'PU Module 1', 'PU Module 1 Title',
       'PU Mod1 Credits', 'PU Module 2', 'PU Module 2 Title',
       'PU Mod2 Credits', 'NUS Module 1', 'NUS Module 1 Title',
       'NUS Mod1 Credits', 'NUS Module 2', 'NUS Module 2 Title',
       'NUS Mod2 Credits', 'Pre Approved?'],
      dtype='object')

In [ ]:
df_clean = df_merged.drop(['Faculty', 'PU Module 1 Title', 
                           'PU Mod1 Credits', 'PU Module 2', 
                           'PU Module 2 Title', 'PU Mod2 Credits',
                           'NUS Module 1 Title', 'NUS Mod1 Credits', 
                           'NUS Module 2', 'NUS Module 2 Title', 
                           'NUS Mod2 Credits', 'Pre Approved?'
                          ], axis = 1, inplace = False)
df_clean.rename(inplace=True, columns={
 'Partner University': 'Host University', 
 'PU Module 1' : 'HU Module Code',
 'NUS Module 1' : 'NUS Module Code',
})
display(df_clean.info())
df_clean.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5964 entries, 0 to 5964
Data columns (total 3 columns):
Host University    5964 non-null object
HU Module Code     5964 non-null object
NUS Module Code    5964 non-null object
dtypes: object(3)
memory usage: 186.4+ KB

None

                                Host University HU Module Code NUS Module Code
0          The Hong Kong Polytechnic University         CBS241         LAC2731
1          The Hong Kong Polytechnic University         CC2C08          PS2238
2  Hong Kong University of Science & Technology       LANG1120         LAC1731
3                  City University of Hong Kong        AIS3126          PS3238
4                  City University of Hong Kong         GE2210          PS2248

<br><br><br><br><br><br><br>

### Lastly, final cleaning of dataframe

In [ ]:
# Uppercase all objects and remove all leading/trialing spaces in 
# Module Codes (HU & NUS)
# Removes all spaces in between (NUS only)
df_clean['Host University'].fillna('Unknown')
df_clean['HU Module Code'].fillna('Unknown')
df_clean.dropna(axis = 0, inplace = True)
def clean_each(string):
    return string.upper().strip()
def clean_each_nus(string):
    return string.upper().strip().replace(' ','')
df_clean['Host University'] = df_clean['Host University'].apply(
    clean_each)
df_clean['HU Module Code'] = df_clean['HU Module Code'].apply(
    clean_each)
df_clean['NUS Module Code'] = df_clean['NUS Module Code'].apply(
    clean_each_nus)
df_clean.sort_values('Host University', inplace = True)
df_clean.reset_index(drop = True, inplace = True)
df_clean.sample(20)

,Host University,HU Module Code,NUS Module Code
3955,UNIVERSITY COLLEGE LONDON,COMP3007,CS2100
3675,THE UNIVERSITY OF TOKYO,LAW011693S,PS2234
981,HONG KONG UNIVERSITY OF SCIENCE & TECHNOLOGY,LIFS4090,LSM3233
1687,LUND UNIVERSITY,INFN45,BT4221
4731,UNIVERSITY OF GENEVA,GSIJ2M049,GL1711
3982,UNIVERSITY COLLEGE LONDON,ANAT3028,LSM3216
4776,UNIVERSITY OF GOTHENBURG,ES2414,LSM3272
3815,TSINGHUA UNIVERSITY,74100033,CS3230
5765,VICTORIA UNIVERSITY OF WELLINGTON,BIOL432,LSM4261
2323,QUEEN'S UNIVERSITY AT KINGSTON,BCHM410,LSM4231
5667,UNIVERSITY OF WISCONSIN-MADISON,MATH435,CS4236
4728,UNIVERSITY OF FLORIDA,ANT3520,LSM2991
1096,INSTITUT D'ETUDES POLITIQUES DE GRENOBLE,IEPG001,GL2103
1552,LATROBE UNIVERSITY,ENV3LEC,LSM3991
896,HANKUK UNIVERSITY OF FOREIGN STUDIES,K01242101,PS2711
5041,UNIVERSITY OF NEWCASTLE UPON TYNE,BIO3016,LSM3267
2993,THE GEORGE WASHINGTON UNIVERSITY,BISC2337,LSM3232
5453,UNIVERSITY OF TORONTO,JHE353H1,LSM3991
4926,UNIVERSITY OF LEEDS,CIVE3921,PF2204
5360,UNIVERSITY OF TECHNOLOGY OF TROYES,LF01,EX2040

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

## Then we filter out the [required] condition

In [ ]:
if ('NONE' in final_inputs[3]) or (len(final_inputs[3]) == 0):
    df_clean_required = df_clean
    display(df_clean_required)

else:
    df_clean_copy = df_clean.copy()
    df_required = df_clean_copy[df_clean_copy['NUS Module Code'].isin(
        final_inputs[3])]
    HU_required = df_required['Host University'].tolist()
    df_clean_eval = df_clean[df_clean['Host University'].isin(
        HU_required)]
    df_clean_eval.reset_index(drop = True, inplace = True)
    df_clean_required = df_clean_eval.copy()
    display(df_clean_required.sample(5))
# A lot of dataframe manipulation will be done, 
# shallow copy of dataframe will be used to prevent mutating of 
# original data

          Host University   HU Module Code NUS Module Code
0        AALTO UNIVERSITY        TU22.1432          IE4887
1        AALTO UNIVERSITY            C3150          CS2103
2        AALTO UNIVERSITY            C3130          CS2107
3        AALTO UNIVERSITY         CS-C3130          CS2107
4        AALTO UNIVERSITY        TU91.2010          EX4882
5        AALTO UNIVERSITY       TU-53.1320          EX4885
6        AALTO UNIVERSITY        MAT1.3601          EX4881
7        AALTO UNIVERSITY       ELEC-E7120          CS4222
8        AALTO UNIVERSITY       KIE98.7011          EX1030
9        AALTO UNIVERSITY         25C00200          MT4001
10       AALTO UNIVERSITY        CS--E4320          CS2107
11       AALTO UNIVERSITY        CS--E4300          CS2107
12      AARHUS UNIVERSITY       225141U008          PC1144
13      AARHUS UNIVERSITY       250172U019         DSA3102
14      AARHUS UNIVERSITY       460141U033          QF3991
15      AARHUS UNIVERSITY       430151U010          MA4264
16      AARHUS UNIVERSITY       250172U002          MA3238
17      AARHUS UNIVERSITY       250131U005          MA3111
18      AARHUS UNIVERSITY       250132U014          MA3991
19      AARHUS UNIVERSITY       460152U102          MA4254
20      AARHUS UNIVERSITY       460152U037          QF4991
21      AARHUS UNIVERSITY       460152U072          QF3991
22      AARHUS UNIVERSITY       250112U051          MA4260
23      AARHUS UNIVERSITY       220164U003          CS3235
24      AARHUS UNIVERSITY       461141U014          QF3992
25      AARHUS UNIVERSITY       460151U030          IE4017
26      AARHUS UNIVERSITY       220171U034          CS3240
27      AARHUS UNIVERSITY  FOE-ISE-ZXY1000          IE4054
28      AARHUS UNIVERSITY  FOE-ISE-ZXY1001          IE4241
29      AARHUS UNIVERSITY       220171U007          CS3244
...                   ...              ...             ...
5934    YONSEI UNIVERSITY          POL4834          PS3701
5935    YONSEI UNIVERSITY          IEE3579          PS3741
5936    YONSEI UNIVERSITY          IEE3326          PS3742
5937    YONSEI UNIVERSITY          IEE3131          PS3741
5938    YONSEI UNIVERSITY          POL3826          PS3240
5939    YONSEI UNIVERSITY          POL2106          PS2234
5940    YONSEI UNIVERSITY          ISM4518          PS2238
5941    YONSEI UNIVERSITY          IEE1137         LAK1721
5942    YONSEI UNIVERSITY    UIC3613-01-00          HY2207
5943    YONSEI UNIVERSITY          ENG3002          PF2204
5944    YONSEI UNIVERSITY          ISM3520          HY2220
5945    YONSEI UNIVERSITY          IEE2069          EX2000
5946    YONSEI UNIVERSITY          BIZ3108          IE4242
5947    YONSEI UNIVERSITY          COM2101          PF2105
5948    YONSEI UNIVERSITY          BIZ2121          PF2203
5949    YONSEI UNIVERSITY          ARC3304          PF2502
5950    YONSEI UNIVERSITY          ARC3307          PF2504
5951    YONSEI UNIVERSITY          ECO3104          IE3004
5952    YONSEI UNIVERSITY          CRP3101          PF3305
5953    YONSEI UNIVERSITY          ARC3209          PF3206
5954    YONSEI UNIVERSITY          IEE3121          HY2220
5955    YONSEI UNIVERSITY          ARC3202          PF2504
5956      YORK UNIVERSITY      LE/MECH2301          ME2114
5957      YORK UNIVERSITY          ENG4370          ME4291
5958      YORK UNIVERSITY      LE/EECS3121          ME3663
5959      YORK UNIVERSITY      LE/MECH4502          ME3112
5960      YORK UNIVERSITY      LE/EECS3505          ME2143
5961  ZHEJIANG UNIVERSITY          1223019          AR5011
5962  ZHEJIANG UNIVERSITY         12120120          AR4101
5963  ZHEJIANG UNIVERSITY         12192050          UD5221

[5964 rows x 3 columns]

## Finally, we're ready for the magic
- Now we apply a groupby function on
    - [intended]
    - [total - taken]
    
### Recall desired headings
- Mappings available (based on intended modules) [intended]
- Number of intended mappings
- Mappings available (all applicable) [total - taken] 
- Number of applicable mappings

In [ ]:
def calc_maps(df):
    return len(df)
def pair(df):
    return (df[0] + " maps to " + df[1])

<br><br><br><br><br><br>

### [Intended]

In [ ]:
df_required_copy = df_clean_required.copy()
df_filter_intended = df_required_copy[df_required_copy[
    'NUS Module Code'].isin(final_inputs[2])]
df_filter_intended.sort_values('Host University', inplace = True)
df_filter_intended.reset_index(drop = True, inplace = True)
if not df_filter_intended.empty:
    df_filter_intended[
        "Mappings available (based on intended modules)"
    ] = df_filter_intended[
        ['HU Module Code', 'NUS Module Code']].apply(pair, axis = 1)
    df_filter_intended.drop(
        ['HU Module Code', 'NUS Module Code'], 
        axis = 1, 
        inplace = True)
    df_groupby_intended = df_filter_intended.groupby(
        'Host University'
    )['Mappings available (based on intended modules)'].apply(
        lambda group_series: group_series.tolist()).reset_index()
    df_groupby_intended[
        'Number of intended mappings'
    ] = df_groupby_intended[
        'Mappings available (based on intended modules)'
    ].apply(calc_maps)
    df_groupby_intended.sort_values(
        'Number of intended mappings', 
        inplace = True, 
        ascending = False)
    df_groupby_intended.reset_index(drop = True, inplace = True)
    display(df_groupby_intended.head())
else:
    df_groupby_intended = pd.DataFrame(
        columns=['Host University', 
                 'Mappings available (based on intended modules)', 
                 'Number of intended mappings'])
    display(df_groupby_intended.head())

Empty DataFrame
Columns: [Host University, Mappings available (based on intended modules), Number of intended mappings]
Index: []

<br><br><br><br><br><br>

### [Total - Taken]

In [ ]:
df_required_copy = df_clean_required.copy()
df_filter_all = df_required_copy[
    df_required_copy['NUS Module Code'].isin(final_inputs[4])]
df_filter_all.sort_values('Host University', inplace = True)
df_filter_all.reset_index(drop = True, inplace = True)
if not df_filter_all.empty:
    df_filter_all[
        "Mappings available (all applicable)"
    ] = df_filter_all[['HU Module Code', 'NUS Module Code']].apply(
        pair, axis = 1)
    df_filter_all.drop(['HU Module Code', 'NUS Module Code'], 
                       axis = 1, inplace = True)
    df_groupby_all = df_filter_all.groupby('Host University')[
        'Mappings available (all applicable)'
    ].apply(
        lambda group_series: group_series.tolist()).reset_index()
    df_groupby_all['Number of applicable mappings'] = df_groupby_all[
        'Mappings available (all applicable)'].apply(calc_maps)
    df_groupby_all.sort_values('Number of applicable mappings', 
                               inplace = True, ascending = False)
    df_groupby_all.reset_index(drop = True, inplace = True)
    display(df_groupby_all.head())
else:
    df_groupby_all = pd.DataFrame(
        columns=['Host University', 
                 'Mappings available (all applicable)', 
                 'Number of applicable mappings'])
    display(df_groupby_all.head())

Empty DataFrame
Columns: [Host University, Mappings available (all applicable), Number of applicable mappings]
Index: []

<br><br><br><br><br><br><br><br><br><br><br><br>

## Putting them all together

In [ ]:
df_final = pd.merge(
    df_groupby_all, 
    df_groupby_intended, 
    left_on = 'Host University', 
    right_on = 'Host University', 
    how = 'left')
df_final.fillna(int(0), inplace = True)
df_final.sort_values(['Number of intended mappings', 
                      'Number of applicable mappings'
                     ], inplace = True, ascending = [False, False])
df_final.reset_index(drop = True, inplace = True)
order = ['Host University',
 'Mappings available (all applicable)',
 'Number of applicable mappings',
 'Mappings available (based on intended modules)',
 'Number of intended mappings']
df_final = df_final[order]
df_final['Number of intended mappings'] = df_final[
    'Number of intended mappings'].apply(np.int)
df_final.head()

Empty DataFrame
Columns: [Host University, Mappings available (all applicable), Number of applicable mappings, Mappings available (based on intended modules), Number of intended mappings]
Index: []

## And Voila~
- The result excel sheet will be downloaded in the same directory as this notebook

In [ ]:
df_final.to_excel('Module Mapping by Ray.xls', sheet_name='Sheet1', 
               index=True, index_label=None, startrow=1, startcol=1)